/* @import url('./fonts.css'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Roboto, sans-serif;
}

.drug{
  @apply space-y-16
}

.section {
  @apply flex
}

.graphic-area {
  @apply w-32 sm:w-48 relative flex justify-center
}

.section-header-area {
  @apply z-10 relative
}

.section-header{
  @apply bg-[#282828] text-sm sm:text-base text-white font-medium p-1.5 sm:p-3 text-center w-32 sm:w-48
}

.image {
  @apply mx-auto w-28 sm:w-36 pt-4
}

.orange-bar {
  @apply absolute top-0 bottom-1 w-28 sm:w-36 border-y-2 border-[#4d4d4d]
}

.orange-bar-inner {
  @apply w-2 sm:w-3 h-full bg-[#e55b24] mx-auto
}

.text-area{
  @apply pl-8 sm:pl-12 space-y-12
}

.paragraph {
}

.category {
  @apply text-sm text-[#615753] font-medium pb-2
}

.paragraph-title{
  @apply text-[28px] text-[#353535] font-medium pb-4
}

.paragraph-content {
  @apply text-[#615753] text-lg
}

.iofflabel .grid .header, .iofflabel .grid .value {
  @apply flex items-center
}

.iofflabel .grid .header {
  @apply justify-end
}

.interactive-title {
  @apply text-title-color text-[28px] font-medium leading-[37.24px]
}

.interactive-content {
  @apply text-[18px] font-normal leading-[25.2px]
}

.interactive-nav {
  @apply text-[16px] font-medium leading-[21.28px]
}

.interactive-step-title {
  @apply text-[14px] font-medium leading-[17.5px] text-[#ca4e0a]
}

.interactive-button {
  @apply bg-title-color text-white font-extrabold text-[16px] leading-[24px] p-3 px-7 rounded-full cursor-pointer hover:bg-[#C54511] transition-colors duration-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600
}
